.modal__window {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}
.window__frame {
	padding: 5px;
	width: 350px;
	height: 350px;
	background-color: #1d1d1d;
	border-radius: 50px;
}
.frame__info {
	display: flex;
	justify-content: space-between;
	padding: 0 40px;
	color: white;
	align-items: center;
}
.frame__content {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#registerForm {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	row-gap: 30px;
	color: white;
}
.exit__btn {
	font-size: 40px;
	transition: all 0.4s ease;
	cursor: pointer;
}
.exit__btn:hover {
	color: #ff0000;
}
.info__exit_action {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.registerForm__span {
	width: 225px;
	display: flex;
	justify-content: start;
	gap: 5px;
	padding: 6px 10px;
	align-items: center;
	border: 1px solid white;
	border-radius: 20px;
}
input {
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
}
select {
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
}
.wrapper {
	position: sticky;
}
.invalidNumber {
	position: absolute;
	color: red;
}
.registerForm__btn_register {
	margin-top: 30px;
	background-color: transparent;
	border: none;
	border: 1px solid white;
	color: white;
	padding: 10px;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.4s ease;
}
.registerForm__btn_register:hover {
	border: 1px solid green;
}

#BlurForModalWin {
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: #1d1d1d41;
}
.hidden {
	display: none;
}