@import 'null.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
* {
    font-family: 'Montserrat';
}
.Kyiv__city {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}
.email__adress {
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
}
.nav__upperNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upperNav__graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27.1px;
}
.info__phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 22.63px;
    letter-spacing: 0%;
}
.info__time {
    font-weight: 400;
    font-size: 9px;
    line-height: 12.26px;
    letter-spacing: 0%;
}
.upperNav__logo {
    width: 190px;
    height: 69px;
}
.graphic__backCall {
    color: #1FBA0A;
    border: 1px solid #1FBA0A;
    background: transparent;
    width: 171px;
    height: 38px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
    letter-spacing: 0.65px;
    text-align: center;
}
button {
    cursor: pointer;
}
.nav__lowerNav {
    border-top: 1px solid#F2F2F2;
}
.nav__lowerNav button:nth-child(1), .nav__lowerNav button:nth-child(4), .nav__lowerNav button:nth-child(5) , .nav__lowerNav button:nth-child(6) , .nav__lowerNav button:nth-child(7) {
   width: 100px;
   height: 50px;
   background: transparent;
   border: none;
}
.nav__lowerNav button:nth-child(2) {
    width: 200px;
    height: 50px;
    color: white;
    background: rgb(26, 194, 3);
    border: none;
}
.nav__lowerNav button:nth-child(3) {
    width: 200px;
    height: 50px;
    background: transparent;
    border: none;
}
/* header */
.header{
    padding: 128px 328px;
    background: url(/images/header.png);
}
.box__title_header {
    width: 100px;
    font-weight: 400;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 0%;
    color: #1FB90A;
}
.box__discount_header {
    font-weight: 700;
    font-size: 27px;
    line-height: 32.4px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 50px;
    background: rgb(167, 0, 0);
    color: white;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}
.header__time {
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    line-height: 34.05px;
    letter-spacing: 0%;
    color: white;
}
.header__more {
    background: #FD4F10;
    width: 246px;
    height: 55px;
    color: white;
}
.header__box {
    display: flex;
    justify-content: space-between;
}
.header__time {
    margin-top: 80px
}
.header__more {
    margin-top: 50px;
}
/* main */
.main_container {
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__titleWeb {
    font-size: 30px;
    color: grey;
}
/* web */
.main__Web {
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.Web__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
    border-radius: 10px;
    border: 1px red solid;
    overflow: hidden;
}
.box__title_web {
    margin-top: 20px;
    font-weight: 700;
    font-size: 19px;
    line-height: 25.87px;
    letter-spacing: 0%;
}
.box__info_web {
    margin-top: 20px;
    font-weight: 300;
    font-size: 11px;
    line-height: 14.98px;
    letter-spacing: 0%;
}
.box_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}
.box__amount_container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.amount__descrease, .amount__increase {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid grey;
    color: grey;
    font-weight: bold;
    font-size: large;
}